# Definition of code OWNERS for the openconfig/public repository.
#
# default approvers:
* @aashaikh @robshakir 

# the release/models directory (all YANG content)
# is maintained by the public-writers OpenConfig team. 
/release/models/ @openconfig/public-writers
/release/models/wifi @mike-albano
