# Definition of code OWNERS for the openconfig/public repository.
#
# default approvers:
* @aashaikh @robshakir @dplore

# the release/models directory (all YANG content)
# and doc directory is maintained by the public-writers 
# OpenConfig team. 
/doc @openconfig/public-approvers
/release/models/ @openconfig/public-approvers

# subfolders may have additional codeowners who
# may merge content
/release/models/wifi @jsnyder81 @zpereyo
